body {
    font-family: Satisfy, cursive;

}

main {

    width: 60%;
    margin: 0;
}

h1 {
    font-size: 2em;

}

h1+h2 {
    margin-top: 0px;

}

h1,
h2,
h3 {
    font-family: Ysabeau, sans-serif;
    font-weight: 100;
}